<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      lang="en">
<head>
  <meta charset="UTF-8">
  <title>Order film</title>
</head>
<body>
<div layout:fragment="content">
  <h3 class="mt-3 mb-3" th:text="'Order film ' + ${film.getTitle}"></h3>
  <form method="POST" th:action="@{/templates/favorite/film}" th:object="${orderFilmInfo}">
    <input type="hidden" name="filmId"
           th:value="${film.getId()}">
    <div class="mt-3 row g-2">
      <div class="col-md">
        <div class="form-floating">
          <input name="rentPeriod" type="number" class="form-control" id="rentPeriod" placeholder="Rent Period">
          <label for="rentPeriod">Rent Period</label>
        </div>
      </div>
    </div>
    <div class="mt-3 row g-2">
      <button type="submit" class="btn btn-primary">Rent</button>
      <button type="button" class="btn btn-secondary" onclick="window.history.back()">Back</button>
    </div>
  </form>
</div>
</body>
</html>
