<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}"
      lang="en">
<head>
  <meta charset="UTF-8">
  <title>User profile</title>
</head>
<body>
<form layout:fragment="content">
  <div>
    <h3 th:text="'Cinema Online user: ' + ${user.getLogin()}"></h3>
    <form class="row g-1">
      <div class="mb-2 row">
        <label for="lastname" class="col-sm-2 col-form-label">Lastname:</label>
        <div class="col-sm-10">
          <p th:text="${user.getLastname()}" class="form-control-plaintext" id="lastname">
        </div>
      </div>
      <div class="mb-2 row">
        <label for="middlename" class="col-sm-2 col-form-label">Middle name:</label>
        <div class="col-sm-10">
          <p th:text="${user.getMiddlename()}" class="form-control-plaintext" id="middlename">
        </div>
      </div>
      <div class="mb-2 row">
        <label for="firstname" class="col-sm-2 col-form-label">Firstname:</label>
        <div class="col-sm-10">
          <p th:text="${user.getFirstname()}" class="form-control-plaintext" id="firstname">
        </div>
      </div>
      <div class="mb-2 row">
        <label for="birthDate" class="col-sm-2 col-form-label">Birthday:</label>
        <div class="col-sm-10">
          <p th:text="${user.getBirthDate()}" class="form-control-plaintext" id="birthDate">
        </div>
      </div>
      <div class="mb-2 row">
        <label for="phone" class="col-sm-2 col-form-label">Phone:</label>
        <div class="col-sm-10">
          <p th:text="${user.getPhone()}" class="form-control-plaintext" id="phone">
        </div>
      </div>
      <div class="mb-2 row">
        <label for="address" class="col-sm-2 col-form-label">Adress:</label>
        <div class="col-sm-10">
          <p th:text="${user.getAdress()}" class="form-control-plaintext" id="address">
        </div>
      </div>
      <div class="mb-2 row">
        <label for="country" class="col-sm-2 col-form-label">Country:</label>
        <div class="col-sm-10">
          <p th:text="${user.getCountry()}" class="form-control-plaintext" id="country">
        </div>
      </div>
      <div class="mb-2 row">
        <label for="email" class="col-sm-2 col-form-label">Email:</label>
        <div class="col-sm-10">
          <p th:text="${user.getEmail()}" class="form-control-plaintext" id="email">
        </div>
      </div>
      <div class="mb-2 row" sec:authorize="isAuthenticated() && (hasRole('ADMIN') || hasRole('MODERATOR'))">
        <label for="login" class="col-sm-2 col-form-label">Login:</label>
        <div class="col-sm-10">
          <p th:text="${user.getLogin()}" class="form-control-plaintext" id="login">
        </div>
      </div>
      <div class="mb-2 row" sec:authorize="isAuthenticated() && (hasRole('ADMIN') || hasRole('MODERATOR'))">
        <label for="role" class="col-sm-2 col-form-label">Role:</label>
        <div class="col-sm-10">
          <p th:text="${user.getRole()}" class="form-control-plaintext" id="role">
        </div>
      </div>
    </form>
    <hr class="hr"/>
    <form class="row g-1">
      <h4 class="mt-3 mb-3" th:text="'Orders:'"></h4>
      <div th:each="order : ${user.getOrderInfo()}">
        <div class="mb-2 row">
          <label for="title" class="col-sm-2 col-form-label">Title:</label>
          <div class="col-sm-10">
            <a class="text-link text-blue" th:href="'/films/' + ${film.getId()}" th:text="${film.getTitle}" id="title"></a>
          </div>
        </div>
      </div>
    </form>
    <hr class="hr"/>
    <div class="mt-2" >
      <a class="btn btn-primary" sec:authorize="isAuthenticated()" th:href="'/users/changeProfile' + ${user.id}">Change profile</a>
      <button type="button" class="btn btn-secondary" onclick="window.history.back()">Back</button>
    </div>
  </div>
</form>
</body>
</html>
