<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>User search</title>
    <div class="row">
        <div class="col">
            <a sec:authorize="isAuthenticated() && (hasRole('ADMIN') || hasRole('MODERATOR'))"
               th:href="@{/users/viewAllUsers}"
               class="btn btn-success"
               role="button"
               style="float: right"
               aria-disabled="true">View user</a>
        </div>
    </div>
</head>
<body>
<div layout:fragment="content">
    <h1>List of all users</h1>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Lastname</th>
            <th scope="col">Middle name</th>
            <th scope="col">Firstname</th>
            <th scope="col">Phone</th>
            <th scope="col">Address</th>
            <th scope="col">Email</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td>
                <a class="text-link text-blue" th:href="'/users/' + ${user.getId()}" th:text="${user.getFirstname}"></a>
                <a class="text-link text-blue" th:href="'/users/' + ${user.getId()}" th:text="${user.getLastname}"></a>
                <a class="text-link text-blue" th:href="'/users/' + ${user.getId()}" th:text="${user.getMiddlename}"></a>
            </td>
            <td th:text="${user.getLastname}"></td>
            <td th:text="${user.getMiddlename}"></td>
            <td th:text="${user.getFirstname}"></td>
            <td th:text="${user.getPhone}"></td>
            <td th:text="${user.getAddress}"></td>
            <td th:text="${user.getEmail}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
