<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Add film</title>
</head>
<body>
<div layout:fragment="content">
    <h3 class="mt-3 mb-3">Add film</h3>
    <form enctype="multipart/form-data" class="needs-validation" novalidate style="max-width: 50vw" method="POST"
          th:action="@{/films/add}" th:object="${filmForm}">
        <div class="col-md">
            <div class="form-floating">
                <input name="title" type="text" class="form-control" id="title" placeholder="Film title" required>
                <label for="title">Title</label>
                <div class="invalid-feedback">Required field</div>
            </div>
        </div>
        <div class="col-md">
            <div class="form-floating">
                <input name="premierYear" type="date" class="form-control" id="date" placeholder="Premier year"
                       required>
                <label for="date">Premier year</label>
                <div class="invalid-feedback">Required field</div>
            </div>
        </div>
        <div class="mt-3 row g-2">
            <div class="col-md">
                <div class="form-floating">
                    <input name="country" type="text" class="form-control" id="country" placeholder="Country" required>
                    <label for="country">Country</label>
                    <div class="invalid-feedback">Required field</div>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating">
                    <select class="form-select" name="genre" id="genre" required>
                        <option selected value="default">Choose genre from the list</option>
                        <option th:each="genre : ${T(com.jpc16.CinemaOnline.Cinema.model.Genre).values()}"
                                th:value="${genre}" th:text="${genre.getGenreTextDisplay()}"></option>
                    </select>
                    <label for="genre">Genre</label>
                    <div class="invalid-feedback">Required field</div>
                </div>
            </div>
            <div class="mt-3 form-floating">
                <input name="onlineCopyPath" type="file" class="form-control form-control-sm" id="onlineCopyPath" placeholder="Online copy" style="padding-top: 2rem;">
                <label for="onlineCopyPath">Online copy</label>
            </div>
            <div class="mt-3 row g-2">
                <div class="col-md">
                    <div class="form-floating">
                        <input name="amount" type="number" class="form-control" id="amount" placeholder="Film amount" value="1" required>
                        <label for="amount">Film amount</label>
                        <div class="invalid-feedback">Обязательное поле для заполнения</div>
                    </div>
                </div>
                <div class="col-md">
                    <div class="form-floating">
                        <input name="duration" type="number" class="form-control" id="duration" placeholder="Film length">
                        <label for="duration">Film length</label>
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating">
                    <select class="form-select" name="directorsId" id="directorsId" required>
                        <option selected value="default">Choose director from the list</option>
                        <option th:each="director : ${directors}"
                                th:value="${director.getId()}" th:text="${director.getDirectorsFIO()}"></option>
                    </select>
                    <label for="genre">Director</label>
                    <div class="invalid-feedback">Required field</div>
                </div>
            </div>
        </div>
        <div class="mt-3 row g-2">
            <button type="submit" class="btn btn-primary" onclick="validateForm()">Add</button>
            <button type="button" class="btn btn-secondary" onclick="window.history.back()">Back</button>
        </div>
    </form>
</div>

</body>
</html>

