<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Весь список</title>
</head>
<body>
<div layout:fragment="content">
    <hr class="hr"/>
    <h3>Поиск</h3>
    <form method="POST" th:action="@{/films/search}" th:object="${filmSearchForm}">
        <div class="mt-0 row g-2">
            <div class="col-md">
                <div class="form-floating">
                    <input name="title" type="text" class="form-control" id="title"
                           placeholder="Название фильма или сериала">
                    <label for="title">Название</label>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating">
                    <input name="premierYear" type="text" class="form-control" id="premierYear"
                           placeholder="Дата премьеры">
                    <label for="premierYear">Дата</label>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating">
                    <input name="country" type="text" class="form-control" id="country"
                           placeholder="Страна производства">
                    <label for="country">Страна</label>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating">
                    <select class="form-select" name="genre" id="genre">
                        <option selected th:value="null">Выберите жанр</option>
                        <option th:each="genre : ${T(com.jpc16.CinemaOnline.Cinema.model.lists.Genre).values()}"
                                th:value="${genre}" th:text="${genre.getGenreTextDisplay()}"></option>
                    </select>
                    <label for="genre">Жанр</label>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating">
                    <select class="form-select" name="category" id="category">
                        <option selected th:value="null">Выберите жанр</option>
                        <option th:each="category : ${T(com.jpc16.CinemaOnline.Cinema.model.lists.Category).values()}"
                                th:value="${category}" th:text="${category.getCategoryTextDisplay()}"></option>
                    </select>
                    <label for="category">Категория</label>
                </div>
            </div>
            <div class="row g-2">
                <button type="submit" class="btn btn-secondary">Найти</button>
            </div>
        </div>
    </form>

    <div class="album py-5 bg-body-tertiary">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col" th:each="film : ${films}">
                <div class="card shadow-sm">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                         xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                         preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#55595c"></rect>
                        <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
                    </svg>
                    <div class="card-body">
                        <a class="card-text" th:text="${film.getTitle()}" th:href="'/films/' + ${film.getId()}"></a>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                            </div>
                            <small>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                     class="bi bi-bookmark-heart" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                          d="M8 4.41c1.387-1.425 4.854 1.07 0 4.277C3.146 5.48 6.613 2.986 8 4.412z"/>
                                    <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"/>
                                </svg>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                     class="bi bi-bookmark-heart-fill" viewBox="0 0 16 16">
                                    <path d="M2 15.5a.5.5 0 0 0 .74.439L8 13.069l5.26 2.87A.5.5 0 0 0 14 15.5V2a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2v13.5zM8 4.41c1.387-1.425 4.854 1.07 0 4.277C3.146 5.48 6.613 2.986 8 4.412z"/>
                                </svg>
                            </small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div>
        <nav aria-label="Pagination" th:if="${films.totalPages gt 0}">
            <ul class="pagination justify-content-center font-weight-bold">
                <li class="page-item" th:classappend="${films.number eq 0} ? 'disabled'">
                    <a class="page-link"
                       th:href="@{/films?page={id}(id=${films.number lt 2 ? 1 : films.number})}"
                       aria-label="Previous" title="Previous Page" data-toggle="tooltip">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item" th:classappend="${i eq films.number + 1} ? 'active'"
                    th:each="i : ${#numbers.sequence( 1, films.totalPages, 1)}">
                    <a class="page-link" th:href="@{/films?page={id}(id=${i})}" th:text="${i}"
                       th:title="${'Page '+ i}" data-toggle="tooltip"></a>
                </li>
                <li class="page-item" th:classappend="${films.number eq films.totalPages - 1} ? 'disabled'">
                    <a class="page-link"
                       th:href="@{/films?page={id}(id=${films.number + 2})}"
                       aria-label="Next" title="Next Page" data-toggle="tooltip">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>


</div>
</body>
</html>