<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Весь список</title>
    <style>
        .no-information {
            color: #817d7d;
        }
    </style>
</head>
<body>
<div layout:fragment="content">
    <div>
        <hr class="hr"/>
        <h3>Поиск</h3>
        <form method="POST" th:action="@{/films/search}" th:object="${filmSearchForm}">
            <div class="mt-0 row g-2">
                <div class="col-md">
                    <div class="form-floating">
                        <input name="title" type="text" class="form-control" id="title"
                               placeholder="Film title">
                        <label for="title">Film title</label>
                    </div>
                </div>
                <div class="col-md">
                    <div class="form-floating">
                        <input name="directorFIO" type="text" class="form-control" id="directorFIO"
                               placeholder="DirectorFIO">
                        <label for="directorFIO">Director</label>
                    </div>
                </div>
                <div class="col-md">
                    <div class="form-floating">
                        <select class="form-select" name="genre" id="genre">
                            <option selected th:value="null">Choose genre from the list</option>
                            <option th:each="genre : ${T(com.jpc16.CinemaOnline.Cinema.model.Genre).values()}"
                                    th:value="${genre}" th:text="${genre.getGenreTextDisplay()}"></option>
                        </select>
                        <label for="genre">Genre</label>
                    </div>
                </div>
                <div class="row g-2">
                    <button type="submit" class="btn btn-secondary">Find film</button>
                </div>
            </div>
        </form>
    </div>
    <h1>List of all films in the cinema</h1>
    <div class="row">
        <div class="col">
            <a sec:authorize="isAuthenticated() && (hasRole('ADMIN') || hasRole('LIBRARIAN'))"
               th:href="@{/films/add}"
               class="btn btn-success"
               role="button"
               style="float: right"
               aria-disabled="true">Add film</a>
        </div>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Genre</th>
            <th scope="col">Country</th>
            <th scope="col">Year of release</th>
            <th scope="col">Director(s)</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="film : ${film}">
            <td>
                <a class="text-link text-blue" th:href="'/films/' + ${film.getId()}" th:text="${film.getTitle()}"></a>
            </td>
            <td th:classppend="${film.getGenre().getGenreTextDisplay().equals(null)} ? '.noinformation'"
                th:text="${film.getGenre().getGenreTextDisplay().equals(null)} ? 'Not declared'
                                                                     : ${film.getGenre().getGenreTextDisplay()}"></td>
            <td th:classppend="${film.getCountry().equals(null)} ? '.noinformation'"
                th:text="${film.getCountry().equals(null)} ? 'Not declared' : ${film.getCountry()}"></td>
            <td th:text="${film.getPremierYear()}"></td>
            <td th:each="directorId : ${film.getDirectorsId()}">
                <ul>
                    <li th:each="director : ${film.getDirectorInfo()}" th:text="${director.getDirectorsFIO()}"></li>
                </ul>
            </td>
            <td>
                <div sec:authorize="isAuthenticated() && (hasRole('ADMIN') || hasRole('MODERATOR'))">
                    <a class="btn btn-sm btn-outline-success" th:href="'/films/update/' + ${film.getId()}">Update</a>
                    <a class="btn btn-sm btn-outline-danger" th:href="'/films/delete/' + ${film.getId()}"
                       onclick="return confirm('Are you sure?')">Delete</a>
                </div>
                <a sec:authorize="!hasRole('ADMIN')"
                   class="btn btn-sm btn-outline-success" th:href="'/order/film/' + ${film.getId()}">Order film</a>
            </td>
        </tr>
        </tbody>
    </table>
    <div>
        <nav aria-label="Pagination" th:if="${films.totalPages gt 0}">
            <ul class="pagination justify-content-center font-weight-bold">
                <li class="page-item" th:classappend="${films.number eq 0} ? 'disabled'">
                    <a class="page-link"
                       th:href="@{/films?page={id}(id=${films.number lt 2 ? 1 : films.number})}"
                       aria-label="Previous" title="Previous Page" data-toggle="tooltip">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item" th:classappend="${i eq films.number + 1} ? 'active'"
                    th:each="i : ${#numbers.sequence( 1, films.totalPages, 1)}">
                    <a class="page-link" th:href="@{/films?page={id}(id=${i})}" th:text="${i}"
                       th:title="${'Page '+ i}" data-toggle="tooltip"></a>
                </li>
                <li class="page-item" th:classappend="${films.number eq films.totalPages - 1} ? 'disabled'">
                    <a class="page-link"
                       th:href="@{/films?page={id}(id=${films.number + 2})}"
                       aria-label="Next" title="Next Page" data-toggle="tooltip">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>

</div>
</body>
</html>
