<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>View film</title>
</head>
<body>
<form layout:fragment="content">
    <div>
        <h3 th:text="'Information about film: ' + ${film.getTitle()}"></h3>
        <form class="row g-1">
            <div class="mb-2 row">
                <label for="title" class="col-sm-2 col-form-label no-border">Title:</label>
                <div class="col-sm-10">
                    <p th:text="${film.getTitle()}" type="text" readonly class="form-control-plaintext" id="title">
                </div>
            </div>
            <div class="mb-2 row">
                <label for="genre" class="col-sm-2 col-form-label">Genre:</label>
                <div class="col-sm-10">
                    <p th:text="${film.getGenre().getGenreTextDisplay()}" class="form-control-plaintext" id="genre">
                </div>
            </div>
            <div class="mb-2 row">
                <label class="col-sm-2 col-form-label">Online copy:</label>
                <div class="col-sm-10">
                    <a class="text-link text-blue" th:if="${film.getOnlineCopyPath()} != null" th:href="@{|/films/download?filmId=${film.id}|}">
                        <span>Rent film</span>
                    </a>
                </div>
            </div>
            <div class="mb-2 row">
                <label for="amount" class="col-sm-2 col-form-label">Amount of copy:</label>
                <div class="col-sm-10">
                    <p th:text="${film.getAmount()}" class="form-control-plaintext" id="amount">
                </div>
            </div>
            <div class="mb-2 row">
                <label for="duration" class="col-sm-2 col-form-label">Film length:</label>
                <div class="col-sm-10">
                    <p th:text="${film.getDuration()}" class="form-control-plaintext" id="duration">
                </div>
            </div>
            <div class="mb-2 row">
                <label for="country" class="col-sm-2 col-form-label">Country:</label>
                <div class="col-sm-10">
                    <p th:text="${film.getCountry()}" class="form-control-plaintext" id="country">
                </div>
            </div>
            <div class="mb-2 row">
                <label for="premierYear" class="col-sm-2 col-form-label">Premier year:</label>
                <div class="col-sm-10">
                    <p th:text="${film.getPremierYear()}" class="form-control-plaintext" id="premierYear">
                </div>
            </div>
            <div class="mb-2 row">
                <label for="description" class="col-sm-2 col-form-label">Description:</label>
                <div class="col-sm-10">
                    <p th:text="${film.getDescription()}" class="form-control-plaintext" id="description">
                </div>
            </div>
        </form>
        <hr class="hr"/>
        <form class="row g-1">
            <h4 class="mt-3 mb-3" th:text="'Information about the director:'"></h4>
            <div th:each="director : ${film.getDirectorInfo()}">
                <div class="mb-2 row">
                    <label for="directorFIO" class="col-sm-2 col-form-label">FIO:</label>
                    <div class="col-sm-10">
                        <a class="text-link text-blue" th:href="'/directors/' + ${director.getId()}" th:text="${director.getDirectorsFIO()}" id="directorFIO"></a>
                    </div>
                </div>
                <div class="mb-2 row">
                    <label for="position" class="col-sm-2 col-form-label">Position:</label>
                    <div class="col-sm-10">
                        <p th:text="${director.getPosition()}" class="form-control-plaintext" id="position">
                    </div>
                </div>
            </div>
        </form>
        <hr class="hr"/>
        <div class="mt-2">
            <a class="btn btn-primary" th:href="'/order/film/' + ${film.id}">Order film</a>
            <button type="button" class="btn btn-secondary" onclick="window.history.back()">Back</button>
        </div>
    </div>
</form>
</body>
</html>
