<div xmlns:th="http://www.thymeleaf.org"
     th:fragment="footer">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <p class="col-md-4 mb-0 text-body-secondary">© 2023 @Petrushk.ka, Inc</p>

<!--        <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">-->
<!--            <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>-->
<!--        </a>-->

        <ul class="nav col-md-4 justify-content-end">
            <li class="nav-item"><a href="/" class="nav-link px-2 text-body-secondary">Главная</a></li>
            <li class="nav-item"><a href="/about" class="nav-link px-2 text-body-secondary">О нас</a></li>
            <li class="nav-item"><a href="/mail_sender" class="nav-link px-2 text-body-secondary">Написать нам</a></li>
        </ul>
    </footer>
</div>

