<div xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
     th:fragment="header">
    <nav class="p-3 text-bg-dark">
        <div class="container-fluid">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                    <img src="images/logo.png" width="60" height="60">
                </a>

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li>
                        <a href="/films" class="nav-link px-2 text-white">Фильмы и сериалы</a>
                    </li>
                    <li>
                        <a href="/participants" class="nav-link px-2 text-white">Персоны</a>
                    </li>
                    <li>
                        <a href="/popular" class="nav-link px-2 text-white">Популярное</a>
                    </li>
                    <li>
                        <a href="/new" class="nav-link px-2 text-white">Новинки</a>
                    </li>
                    <li sec:authorize=" isAuthenticated() && (hasRole('ADMIN') || hasRole('USER') || hasRole('MODERATOR'))">
                        <a href="/favorite" class="nav-link px-2 text-white">Любимое</a>
                    </li>
                    <li sec:authorize=" isAuthenticated() && (hasRole('ADMIN') || hasRole('MODERATOR'))">
                        <a href="/users" class="nav-link px-2 text-white">Пользователи</a>
                    </li>
                </ul>

<!--                <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">-->
<!--                    <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Search..." aria-label="Search">-->
<!--                </form>-->

                <div class="text-end">
                    <button href="/login" type="button" class="btn btn-outline-light me-2" sec:authorize="!isAuthenticated()">Войти</button>
                    <button href="/logout" type="button" class="btn btn-warning" sec:authorize="isAuthenticated()">Выйти</button>
                </div>
            </div>
        </div>
    </nav>
</div>