<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Добавить персону</title>
</head>
<body>
<div layout:fragment="content">
    <h3 class="mt-3 mb-3">Добавить персону</h3>
    <form enctype="multipart/form-data" class="needs-validation" novalidate style="max-width: 50vw" method="POST"
          th:action="@{/participants/add}" th:object="${participantForm}">
        <div class="col-md">
            <div class="form-floating">
                <input name="surname" type="text" class="form-control" id="surname" placeholder="Фамилия персоны"
                       required>
                <label for="surname">Фамилия</label>
                <div class="invalid-feedback">Обязательное поле для заполнения</div>
            </div>
        </div>
        <div class="col-md">
            <div class="form-floating">
                <input name="name" type="text" class="form-control" id="name" placeholder="Имя персоны" required>
                <label for="name">Имя</label>
                <div class="invalid-feedback">Обязательное поле для заполнения</div>
            </div>
        </div>
        <div class="col-md">
            <div class="form-floating">
                <input name="patronymic" type="text" class="form-control" id="patronymic" placeholder="Отчество персоны"
                       required>
                <label for="patronymic">Отчество</label>
            </div>
        </div>
        <div class="col-md">
            <div class="form-floating">
                <input name="birthDate" type="date" class="form-control" id="birthDate" placeholder="Дата рождения"
                       required>
                <label for="birthDate">Дата рождения</label>
                <div class="invalid-feedback">Обязательное поле для заполнения</div>
            </div>
        </div>
        <div class="col-md">
            <div class="form-floating">
                <input name="birthCountry" type="text" class="form-control" id="birthCountry"
                       placeholder="Страна рождения" required>
                <label for="birthCountry">Страна рождения</label>
                <div class="invalid-feedback">Обязательное поле для заполнения</div>
            </div>
        </div>
        <div class="col-md">
            <div class="form-floating">
                <select class="form-select" name="gender" id="gender" required>
                    <option selected value="default">Выбрать жанр</option>
                    <option th:each="gender : ${T(com.jpc16.CinemaOnline.Cinema.model.lists.Gender).values()}"
                            th:value="${gender}"
                            th:text="${gender.getGenderTextDisplay()}"></option>
                </select>
                <label for="gender">Жанр</label>
                <div class="invalid-feedback">Обязательное поле для заполнения</div>
            </div>
        </div>
        <div class="col-md">
            <div class="form-floating">
                <select class="form-select" name="films" id="films" required>
                    <option selected th:value="${null}">Выбрать фильм</option>
                    <option
                            th:each="film : ${films}"
                            th:value="${film.getId()}"
                            th:text="${film.getTitle() + ' ' + film.getPremierYear()}">
                    </option>
                </select>
                <label for="films">Фильмы</label>
                <div class="invalid-feedback">Обязательное поле для заполнения</div>
            </div>
        </div>
        <div class="col-md">
            <div class="form-floating">
                <textarea name="description" type="text" class="form-control" id="description"
                          placeholder="Description"></textarea>
                <label for="description">Описание</label>
                <div class="invalid-feedback">Обязательное поле для заполнения</div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary" onclick="validateForm()">Добавить</button>
        <button type="button" class="btn btn-secondary" onclick="window.history.back()">Назад</button>
    </form>
</div>

</body>
</html>
