<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>All directors</title>
    <script th:inline="javascript">
        let flag = [[${exception}]]; //переменная-флаг Thymeleaf
        window.onload = () => {
            if (flag) new bootstrap.Modal(document.getElementById('deleteErrorModal'), {keyboard: false}).show()
        };
    </script>
</head>
<body>
<div layout:fragment="content">
    <h1>Список персон</h1>
    <div class="row">
        <div class="col">
            <a href="directors/add"
               class="btn btn-secondary"
               role="button"
               style="float: right"
               aria-disabled="true">Add participant</a>
        </div>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">ФИО</th>
            <th scope="col">Дата рождения</th>
            <th scope="col">Страна рождения</th>
            <th scope="col">Позиция</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="participant : ${participants}">
            <td th:text="${participant.getSurname() + ' ' + participant.getName() + ' ' + participant.getPatronymic()}"></td>
            <td th:text="${#temporals.format(participant.getBirthDate(), 'dd.MM.yyyy')}"></td>
            <td th:text="${participant.getBirthCountry()}"></td>
            <td th:text="${participant.getPosition}"></td>
        </tr>
        </tbody>
    </table>
    <div>
        <nav aria-label="Pagination" th:if="${participants.totalPages gt 0}">
            <ul class="pagination justify-content-center font-weight-bold">
                <li class="page-item" th:classappend="${participants.number eq 0} ? 'disabled'">
                    <a class="page-link"
                       th:href="@{/participants?page={id}(id=${participants.number lt 2 ? 1 : participants.number})}"
                       aria-label="Previous" title="Previous Page" data-toggle="tooltip">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item" th:classappend="${i eq participants.number + 1} ? 'active'"
                    th:each="i : ${#numbers.sequence( 1, participants.totalPages, 1)}">
                    <a class="page-link" th:href="@{/participants?page={id}(id=${i})}" th:text="${i}"
                       th:title="${'Page '+ i}" data-toggle="tooltip"></a>
                </li>
                <li class="page-item" th:classappend="${participants.number eq participants.totalPages - 1} ? 'disabled'">
                    <a class="page-link"
                       th:href="@{/participants?page={id}(id=${participants.number + 2})}"
                       aria-label="Next" title="Next Page" data-toggle="tooltip">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
</body>
</html>
