<!--<!DOCTYPE html>-->
<!--<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"-->
<!--      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"-->
<!--      layout:decorate="~{layout}"-->
<!--      lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>View director</title>-->
<!--</head>-->
<!--<body>-->
<!--<form layout:fragment="content">-->
<!--    <div class="mt-3">-->
<!--        <h3 th:text="'Information about director: ' + ${director.getDirectorFIO()}"></h3>-->
<!--        <form class="row g-1">-->
<!--            <div class="mb-2 row">-->
<!--                <label for="directorFIO" class="col-sm-2 col-form-label no-border">FIO:</label>-->
<!--                <div class="col-sm-10">-->
<!--                    <p th:text="${director.getDirectorFIO()}" class="form-control-plaintext" id="directorFIO">-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="mb-2 row">-->
<!--                <label for="birthDate" class="col-sm-2 col-form-label">Дата рождения:</label>-->
<!--                <div class="col-sm-10">-->
<!--                    <p th:text="${author.getBirthDate()}" class="form-control-plaintext" id="birthDate">-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="mb-2 row">-->
<!--                <label for="description" class="col-sm-2 col-form-label">Описание:</label>-->
<!--                <div class="col-sm-10">-->
<!--                    <p th:text="${author.getDescription()}" class="form-control-plaintext" id="description">-->
<!--                </div>-->
<!--            </div>-->
<!--        </form>-->
<!--        <hr class="hr"/>-->
<!--        <div class="mt-2">-->
<!--            <form method="POST" th:object="${authorSearchForm}" th:action="@{/books/search/booksByAuthor}">-->
<!--                <a sec:authorize="isAuthenticated() && !hasRole('USER')" class="btn btn-primary"-->
<!--                   th:href="'/authors/add-book/' + ${author.getId()}">Добавить книгу</a>-->
<!--                <input type="hidden" name="authorFIO"-->
<!--                       th:value="${author.getAuthorFIO()}">-->
<!--                <button type="submit" class="btn btn-success">Посмотреть книги</button>-->
<!--                <button type="button" class="btn btn-secondary" onclick="window.history.back()">Назад</button>-->
<!--            </form>-->
<!--        </div>-->
<!--    </div>-->
<!--</form>-->
<!--</body>-->
<!--</html>-->
